@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --purple: #AF5EFF;
  --white: #e7e6e8;
}

body {
  color: var(--white);
  background: var(--background);
  margin: 0;
  font-family: "Aeonik", sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: "Aeonik";
  src: url("/font/Aeonik_Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/font/Aeonik_Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/font/Aeonik_Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/font/Aeonik_Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.font-aeonik {
  font-family: "Aeonik", sans-serif;
}

@layer utilities {
  .width-screen {
    @apply max-w-7xl mx-auto
  }
  .flex-center-row {
    @apply flex justify-center items-center
  }
  .flex-center-col {
    @apply flex flex-col justify-center items-center
  }
  .flex-between {
    @apply flex justify-between items-center
  }
}
