@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --purple: #AF5EFF;
  --white: #e7e6e8;
}

body {
  color: var(--white);
  background: var(--background);
  margin: 0;
}

@layer utilities {
  .width-screen {
    @apply max-w-7xl mx-auto
  }
  .flex-center-row {
    @apply flex justify-center items-center
  }
  .flex-center-col {
    @apply flex flex-col justify-center items-center
  }
  .flex-between {
    @apply flex justify-between items-center
  }
}
